<!-- content.component.html -->

<section class="content">
  <div class="container-fluid">
    <div class="jumbotron">
      
		
        <div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Application</h2>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href="#" [routerLink]="['/fileupload']">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:72px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div> <h2 style="font-size: 25px;">Application 1</h2></div>
                      
                      
                                    </div>
                                </div>
                            </div>
                            <a>
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div> </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                            <a href="#" [routerLink]="['/fileupload']">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:72px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2  style="font-size: 25px;">Application 2</h2></div>
                                       
                                    </div>
                                </div>
                            </div>
                            <a href="#" [routerLink]="['/fileupload']">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div> </a>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                            <a href="#" [routerLink]="['/fileupload']">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:72px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2  style="font-size: 25px;">Application 3</h2></div>
                                     
                                    </div>
                                </div>
                            </div>
                            <a href="#" [routerLink]="['/fileupload']">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div> </a>
                    </div>
            <div class="col-lg-3 col-md-6">
                    <a href="#" [routerLink]="['/fileupload']">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:72px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2 style="font-size: 25px;">Application 4</h2></div>
                                       
                                    </div>
                                </div>
                            </div>
                            <a href="#" [routerLink]="['/fileupload']">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div> </a>
                    </div>
                </div>
              
               	
            </div>
    </div>
  </div>
</section>
