<!-- content.component.html -->

<section class="content">
  <div class="container-fluid">
    <div class="jumbotron">
      
		
        <div>
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Dashboard</h2>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:65px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div> <h2 style="font-size: 26px;">Application 1</h2></div>
                      <div>Total Execution Files:- 18</div>
                      <div>Total Passed Files:- 11</div>
                      <div>Total Failed Files:- 07</div>
                      
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:65px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2  style="font-size: 26px;">Application 2</h2></div>
                                        <div>Total Execution Files:- 24</div>
                      <div>Total Passed Files:- 09</div>
                      <div>Total Failed Files:- 15</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:65px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2  style="font-size: 26px;">Application 3</h2></div>
                                       <div>Total Execution Files:- 12</div>
                      <div>Total Passed Files:- 07</div>
                      <div>Total Failed Files:- 05</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
            <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                      <i class="material-icons" style="font-size:65px;">layers</i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                       <div> <h2 style="font-size: 26px;">Application 4</h2></div>
                                       <div>Total Execution Files:- 05</div>
                      <div>Total Passed Files:- 02</div>
                      <div>Total Failed Files:- 03</div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                   
             <div class="col-lg-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            </div>
                            <div class="panel-body">
                                <div class="flot-chart">
                                   <canvas
                                   baseChart
                                   [chartType]="'bar'"
                                   [datasets]="chartData"
                                   [labels]="chartLabels"
                                   [options]="chartOptions"
                                   [legend]="true"
                                   [colors]="colors"
                                   (chartClick)="onChartClick($event)">
                               </canvas>    
                                </div>
                            </div>
                            
                            <!-- <div class="panel-body">
                                <div class="flot-chart">
                                        <div id = "barcha" style = "width: 700px; height: 334px; margin: 0 auto"></div>
                                </div>
                            </div> -->
                            
                        </div>
                       
                    </div>
                   
                    <div class="col-lg-5">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Pie Chart
                            </div>
                            <div class="panel-body">
         
                                <div class="flot-chart">
                                    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
                                 </div>
                                 
                             </div>
                             
                            <!-- <div class="panel-body">
                
                               <div class="flot-chart">
                                    <div id="donutchart" style = "width: 300px; height: 334px; margin: 0 auto"></div>
                                </div>
                                
                            </div> -->
                            
                        </div>
                    </div>


            
        </div>	
            </div>
    </div>
  </div>
</section>
